{
    "swagger": "2.0",
    "info": {
        "title": "Create Microsoft Team Connector",
        "description": "Things that Microsoft has forgotten - Create a Microsoft Team",
        "version": "1.0"
    },
    "host": "graph.microsoft.com",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "consumes": [],
    "produces": [],
    "paths": {
        "/beta/groups/{id}/team": {
            "put": {
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {
                            "type": "string"
                        }
                    }
                },
                "summary": "Create a Microsoft Team",
                "description": "Create a Microsoft Team for an existing Office 365 Group",
                "operationId": "CreateTeam",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "ID of the Office 365 Group",
                        "x-ms-summary": "Group Id",
                        "x-ms-visibility": "important"
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": false,
                        "type": "string",
                        "default": "application/json",
                        "x-ms-visibility": "internal"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "memberSettings": {
                                    "type": "object",
                                    "properties": {
                                        "allowCreateUpdateChannels": {
                                            "type": "boolean",
                                            "description": "Allow create and update channels",
                                            "x-ms-summary": "allowCreateUpdateChannels",
                                            "title": "Allow create update channels",
                                            "x-ms-visibility": "advanced",
                                            "enum": [
                                                "true",
                                                "false"
                                            ],
                                            "default": "true"
                                        }
                                    },
                                    "description": "",
                                    "x-ms-summary": "",
                                    "required": [
                                        "allowCreateUpdateChannels"
                                    ]
                                },
                                "messagingSettings": {
                                    "type": "object",
                                    "properties": {
                                        "allowUserEditMessages": {
                                            "type": "boolean",
                                            "description": "Allow users to edit messages",
                                            "x-ms-summary": "allowUserEditMessages",
                                            "title": "Allow users to edit messages",
                                            "x-ms-visibility": "advanced",
                                            "enum": [
                                                "true",
                                                "false"
                                            ],
                                            "default": "true"
                                        },
                                        "allowUserDeleteMessages": {
                                            "type": "boolean",
                                            "description": "Allow users to delete messages",
                                            "x-ms-summary": "allowUserDeleteMessages",
                                            "title": "Allow users to delete messages",
                                            "x-ms-visibility": "advanced",
                                            "enum": [
                                                "true",
                                                "false"
                                            ],
                                            "default": "true"
                                        }
                                    },
                                    "description": "",
                                    "x-ms-summary": "",
                                    "required": [
                                        "allowUserDeleteMessages"
                                    ]
                                },
                                "funSettings": {
                                    "type": "object",
                                    "properties": {
                                        "allowGiphy": {
                                            "type": "boolean",
                                            "description": "Allow Giphy",
                                            "x-ms-summary": "allowGiphy",
                                            "title": "Allow Giphy",
                                            "x-ms-visibility": "advanced",
                                            "enum": [
                                                "true",
                                                "false"
                                            ],
                                            "default": "true"
                                        },
                                        "giphyContentRating": {
                                            "type": "string",
                                            "description": "Giphy Content Rating",
                                            "x-ms-summary": "giphyContentRating",
                                            "title": "Giphy Content Rating",
                                            "x-ms-visibility": "advanced",
                                            "default": "strict"
                                        }
                                    },
                                    "description": "",
                                    "x-ms-summary": "",
                                    "required": [
                                        "allowGiphy"
                                    ]
                                }
                            },
                            "required": [
                                "funSettings",
                                "memberSettings",
                                "messagingSettings"
                            ]
                        }
                    }
                ]
            }
        }
    },
    "definitions": {},
    "parameters": {},
    "responses": {},
    "securityDefinitions": {
        "oauth2_auth": {
            "type": "oauth2",
            "flow": "accessCode",
            "authorizationUrl": "https://login.microsoftonline.com/yourtenant.onmicrosoft.com/oauth2/v2.0/authorize",
            "tokenUrl": "https://login.microsoftonline.com/yourtenant.onmicrosoft.com/oauth2/v2.0/token",
            "scopes": {
                "Group.ReadWrite.All": "Group.ReadWrite.All"
            }
        }
    },
    "security": [
        {
            "oauth2_auth": [
                "Group.ReadWrite.All"
            ]
        }
    ],
    "tags": []
}